<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Estadisticas</title>
	<link rel="stylesheet" type="text/css" href="css/materialize.min.css" />
</head>
<body>
	<div class="container" id="app">
		<h1>testing</h1>

		<button class="btn" id="send">Enviar Mensaje</button>


		<ul>
			<li v-for="x in users"> {{ x }} </li>
		</ul>	
	</div>


	<!-- <script src="js/materialize.min.js" type="text/javascript"></script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.11/vue.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
	<script src="js/main.js" type="text/javascript"></script>
</body>
</html>